#!/usr/bin/env zsh

alias gg='git --git-dir ~/.dotfiles/.git --work-tree=$HOME'
alias ggc='gg commit -m'

batdiff() {
    git diff --name-only --diff-filter=d | xargs bat --diff
}

ggsync() {
    gg pull
    gg status | grep "modified" | awk '{$1=""; print $0}' | sed 's/^[ \t]*//' | while read -r file; do
        gg add -f "$file"
    done
    if [ -n "$(git status -s)" ]; then
    gg commit -m "sync"
        gg push
    fi
}

workout() {
    echo "Sync dotfiles..."
    ggsync
    echo "--------------------------------"
    echo "Sync playground..."
    cd ~/Developer/ohlulu/playground
    git pull
    make
    echo "--------------------------------"
    echo "✅ Sync done"
}
