#!/usr/bin/env zsh

alias gg='git --git-dir ~/.dotfiles/.git --work-tree=$HOME'
alias ggc='gg commit -m'

batdiff() {
    git diff --name-only --diff-filter=d | xargs bat --diff
}

ggsync() {
    gg pull
    gg status | grep "modified" | awk '{$1=""; print $0}' | sed 's/^[ \t]*//' | while read -r file; do
        gg add -f "$file"
    done
    if [ -n "$(gg status -s)" ]; then
        echo
        gg commit -m "sync"
        gg push
    fi
}

sync_playground() {
    cd ~/Developer/ohlulu/playground
    git pull
    git add .
    if [ -n "$(git status -s)" ]; then
        echo
        git commit -m "sync"
        git push
    fi
}

workout() {
    echo "≫ Sync dotfiles..."
    ggsync 2>&1 | sed 's/^/    /'

    echo "≫ Sync playground..."
    sync_playground 2>&1 | sed 's/^/    /'

    echo "✓ Sync done"
}