[user]
	name = ohlulu
	email = z30262226@gmail.com
[core]
	excludesfile = /Users/ohlulu/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ohlulu/.gitmessage.txt
[http]
	postBuffer = 157286400
