[user]
	name = Ohlulu Hsih
	email = z30262226@gmail.com
[core]
	excludesfile = /Users/ohlulu/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	postBuffer = 157286400

# [color "remote"]
# error = red
# fatal = red
# warning = yellow
# hint = yellow
# success = green

# [color "branch"]
# local = yellow dim
# remote = red dim
# current = green bold

# [color "diff"]
# # meta = 227
# frag = magenta dim
# old = red
# new = green
# normal = white dim
# context = white dim

# [color "status"]
# untracked = red
# added = green
# branch = red bold
# header = white dim
# # changed = 227
# updated = cyan
# unmerged = red bold

# [color "push"]
# header = white dim

# [merge]
# tool = opendiff

# [push]
# default = current
# header = white dim

# # [core]
# # editor = subl -n -w

# [pager]
# branch = false
# # diff = diff-so-fancy | less --tabs=1,5 -RFX
# # show = diff-so-fancy | less --tabs=1,5 -RFX
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
